@model FilmAddDto
@{
    ViewData["Title"] = "AddSliderFilm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<form asp-action="AddSliderFilm" method="post" class="w-75 mx-auto p-3" enctype="multipart/form-data">
    <div class="alert alert-danger" role="alert" asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label>Film İsmi</label>
        <span asp-validation-for="Name" class="text-danger"></span>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" asp-for="TRDubbing">
            <label class="form-check-label" for="flexCheckDefault">
                Türkçe Dublaj
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" asp-for="TRSubtitle">
            <label class="form-check-label" for="flexCheckChecked">
                Türkçe Altyazılı
            </label>
        </div>
    </div>
    <div class="mb-3">
        <span asp-validation-for="ImagePath" class="text-danger"></span>
        <label for="formFile" class="form-label">Resim</label>
        <input class="form-control" type="file" name="image">
    </div>
    <div class="form-group">
        <label>IMDB Puanı</label>
        <span asp-validation-for="IMDBPoint" class="text-danger"></span>
        <input type="text" asp-for="IMDBPoint" class="form-control" />
    </div>
    <a asp-action="Slider" class="btn btn-warning btn-sm"><i class="far fa-times-circle mr-1"></i>Vazgeç</a>
    <button type="submit" class="btn btn-info btn-sm"><i class="far fa-save mr-2"></i>Kaydet</button>
</form>
